body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background: #d4d7d9;
    color: #000000;
    padding: 1em 0;
    text-align: center;
}
  h1, h2, h3 {
    margin: 1em 0;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  .container {
    display: flex;  
    flex-wrap: wrap; 
    width: 80%; 
    margin: 0 auto; 
  }
  
  section, aside { 
    flex: 1;  
    padding: 1em;  
    border: 1px solid #ddd;  
    margin-bottom: 1em; 
  }
  aside { 
    text-align: center;  
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background-color: #eee;
  }